/* Reset de estilos para garantir uma base consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
}

nav {
    text-align: center;
}

nav h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

section {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.playlist {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.playlist a {
    display: block;
    text-decoration: none;
    color: #333;
}

.playlist img {
    max-width: 100%;
    height: 200px; /* Definindo altura fixa para as imagens */
    border-radius: 8px;
}

.playlist p {
    margin: 10px 0;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
}

@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    section {
        padding: 10px;
    }

    .playlist {
        padding: 10px;
    }

    footer {
        padding: 5px;
    }
}
